# Strapi
HOST=0.0.0.0
PORT=1337
APP_KEYS=CHANGE_ME_1,CHANGE_ME_2,CHANGE_ME_3,CHANGE_ME_4
API_TOKEN_SALT=CHANGE_ME
ADMIN_JWT_SECRET=CHANGE_ME
TRANSFER_TOKEN_SALT=CHANGE_ME
ENCRYPTION_KEY=CHANGE_ME
JWT_SECRET=CHANGE_ME
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=/data/data.db
STRAPI_TELEMETRY_DISABLED=true

# Frontend
NEXT_PUBLIC_STRAPI_URL=http://strapi:1337
NEXT_PUBLIC_SITE_URL=https://mladenraguz.com
